apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-assistant

spec:
  selector:
    matchLabels:
      app: home-assistant
  template:
    metadata:
      labels:
        app: home-assistant

    spec:
      initContainers:
        - name: install-hacs
          image: homeassistant/home-assistant:2025.12
          command: ["/bin/sh", "-c"]
          args:
            - |
              set -euo pipefail
              if [ ! -f /config/custom_components/hacs/manifest.json ]; then
                wget -qO - https://get.hacs.xyz | bash -
              else
                echo "HACS already installed, skipping."
              fi

          volumeMounts:
            - name: homelab-storage
              mountPath: /config
              subPath: home-assistant/config

      containers:
        - name: home-assistant
          image: homeassistant/home-assistant:2025.12
          imagePullPolicy: Always

          resources:
            limits:
              memory: 800Mi
              cpu: 500m
            requests:
              memory: 400Mi
              cpu: 200m

          ports:
            - containerPort: 8123
              name: home-assistant

          volumeMounts:
            - name: homelab-storage
              mountPath: /config
              subPath: home-assistant/config

      volumes:
        - name: homelab-storage
          persistentVolumeClaim:
            claimName: homelab-nfs-pvc
